@use 'input';

.input-password {
    position: relative;
    display: inline-block;

    & input {
        padding-right: 2rem;
        outline: none;

        color: var(--font-color-1);
        &::placeholder {
            color: var(--font-color-2);
        }
    }

    & button {
        position: absolute;
        right: 0rem;
        top: 50%;
        width: 2rem;
        height: 100%;
        transform: translateY(-50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
