:root {
    --bg-linear-1: linear-gradient(135deg, #0f0c29 0%, #24243d 100%);
    --bg-color-1: #00bfa6;
    --bg-color-1-hover: #008977;
    --bg-color-2: #27272f;
    --bg-color-3: #000;

    --font-color-1: #fff;
    --font-color-2: #b2b2b2;
    --font-color-3: #fae8c4;
    --font-color-3-hover: #e9d09d;
}
