.user {
    &__wrapper {
        display: flex;
        gap: 4px;
        align-items: center;

        margin: 0 auto;

        &.reverse {
            flex-direction: row-reverse;

            & .user {
                &__name {
                    text-align: right;
                }
            }
        }
        &:not(.center) {
            .user {
                &__name {
                    width: 150px;
                }
            }
        }
    }

    &__avatar {
        position: relative;

        &_placeholder {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: var(--font-color-3);
        }

        &_img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

        &_upload-btn {
            position: absolute;
            bottom: 0;
            right: 0;
            background: var(--bg-color-1);
            border-radius: 4px;
            cursor: pointer;
        }
    }

    &__name {
        color: var(--font-color-3);
        font-size: 24px;
        font-weight: bold;

        text-overflow: ellipsis;
    }
}
