.gamepage {
    display: flex;
    position: relative;
    &__aside {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
        width: 300px;
        flex-shrink: 0;

        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: calc(100% - 20px);
            background: var(--bg-color-1);
            left: 260px;
            bottom: 10px;
        }
    }

    &__logo {
        max-width: 240px;
        padding: 10px;
        margin-left: 10px;
    }
}

.gamebox {
    position: relative;
    width: 100%;

    &:before {
        content: '';
        position: absolute;
        width: calc(100% + 40px);
        height: 5px;
        background: var(--bg-color-1);
        right: 0;
        top: calc(50% - 25px);
        transform: translateY(-50%);
    }
}
.hand {
    display: flex;
    gap: 2px;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
}

.enemy-hand {
    top: 5px;
}

.player-hand {
    bottom: 5px;
}

.game-deck {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: calc(100vh - 400px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.enemy-deck, .player-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px; /* одинаково с .card height */
    gap: 8px;
}

.game-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    right: 15px;
    font-size: 42px;
    color: var(--font-color-1);
    font-weight: bold;
    background: var(--bg-color-1);
    cursor: pointer;

    top: calc(50% - 25px);
    transform: translateY(-50%);

    transition: background-color 0.3s ease;

    &:hover {
        background: var(--bg-color-1-hover);
    }
}
