.player {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.reverse {
        flex-direction: column-reverse;
    }

    &.destroy {
        & .player__ava img {
            animation: destroyEffect 0.5s ease-out forwards;
        }
    }

    &__name {
        font-size: 36px;
        color: var(--font-color-3);
        font-weight: bold;
        padding-left: 10px;
        cursor: pointer;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px;
        background: var(--bg-color-1);
        border-radius: 0 40px 40px 0;
    }

    &__ava {
        width: 64px;
        height: 64px;
        background: var(--font-color-3);
        border-radius: 50%;
        cursor: pointer;

        & img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
            transition: opacity 0.3s ease;
        }
    }

    &__stat {
        display: flex;
        gap: 4px;
        align-items: center;

        & img {
            width: 40px;
        }

        & span {
            color: var(--font-color-3);
            font-size: 36px;
            font-weight: bold;
        }
    }
}

@keyframes destroyEffect {
    0% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: scale(1.5) rotate(90deg);
        pointer-events: none;
    }
}
